/* jannys css */
.container-fluid{
  padding: 5% 3% 0% 3%
}
.container{
  padding: 0;
}
/* nav bar */
.navbar{
  position:sticky;
  border-top-style:solid;
  border-bottom-style: solid;
  border-color:#bbb;
  border-width: thin;
}

.navbar-brand{
  font-family: "Handlee";
  font-size: 2rem;
  font-weight: bold;
  height: 7rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1rem;
  font-weight: 600;
  font-family:"Handlee";
  color: #bbb;
}

.navbar-link:hover{
  color:#009933;
}

.nav-item-dropdown{
  font-size: 1rem;
  font-weight: 100;
  font-family:"Handlee";
  color: #bbb;
}

.nav-link-dropdown:hover{
  color:#009933;
}

/* jannys css */

/* body */

.carousel{
  margin:0 auto 0 auto;
  padding:3% 5%;
  text-align: center;
  align-items: center;

}


.carousel-indicators{
  color: #ff0080
}

.carousel-caption{
 position: absolute;
 top: 3%;
 left: auto;
 right: auto;
 height: 10%;
 width:100%;
 background: rgba(255,255,255,0.7);
 text-align: center;
 padding:5px 0;
}

.hometext{
background-color: #fff;
text-decoration: center;
}

.inline{
display:inline;
}

/* transparant background  */
/* .bg{
  background:url("/Users/andreadevisser/Documents/web development/Practice/images/Smeerlab-slabber-kinderschort-knoeischort-215.jpg") center center;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  width: 100%;
  height: 100%;
}
 */



h1{
  font-family: "Handlee";
  font-size: 1rem;
  font-weight: bolder;
  color:#ff0080;
}

p{
  font-family: "Karla";
  font-size: 1rem;
  font-weight: 400;
  color:#009933;
}



.row{
  padding:10px 0;
  text-align: center;
  grid-auto-rows: 1fr;
}



.col-lg-3{
  padding: 5px
}

.col-md-6{
  padding: 5px
}

.home-text-1{
  height:311px;
  background-color: #ffeb99;
  padding-top: 10%;
  line-height:25px;
  color:#009933;
  border-radius: 10%;
}

.home-text-2{
  height:311px;
  background-color: #18C770;
  padding-top: 10%;
  color:#fff;
  line-height:25px;
  border-radius: 10%;
}

.home-text-3{
  height:311px;
  background-color: #F72692;
  padding-top: 10%;
  color:#ffeb99;
  line-height:25px;
  border-radius: 10%;
}

.image-wrapper{
  width:465px;
}
.home-image{
  width:100%;
  padding: 0;
  border-radius: 10%;
  object-fit:contain;
}



h1{
  font-family: "Handlee";
  font-size: 1rem;
  font-weight:bolder;
  color:#ff0080;
}

h2{
  font-family: "Handlee";
  font-size: 1rem;
  font-weight:bolder;
  color:#fff;
}

p{
  font-family: "Karla";
  font-size: 1rem;
  font-weight: normal;

}

.bold{
  font-weight:900;
}

/* FOOTER */
#footer{
  background-color: #ffeb99;
  color:#bbb;

}
.site-footer{
  background-color: #ffeb99;
  padding-bottom: 0;
  margin-bottom:0;
}
.footer-copy-centered{
  text-align: center;
  color:#bbb;
  font-size: 1rem;
}

.footer-copyright{
  padding-top:1rem;
}

.fab{
  color:#ff0080;
}

.fab:hover{
  color: #009933;
}
